@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: inherit;
  transition: all 300ms ease-in;
}

body {
  background-color: #f5f5f5;
  color: #000;
  font-family:Cairo, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.section-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-head h2 {
  font-size: 3rem;
}

/*=====================*/
main{
  padding: 80px;
}
#my-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  position: fixed;
  width: 100vw;
  background-color: #fff;
}

#my-header h1 {
  font-size: 2rem;
  font-weight: 200;
}

#nav-bar {
  display: flex;
  align-items: center;
}


#nav-list-mobile{
  display: none;
}

#nav-bar-mobile{
  display: none;
} 

#nav-bar-mobile i {
  font-size: 32px;
}

#nav-bar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.5rem;
  gap: 2rem;
}

#nav-bar ul li:hover a {
  color: #777;
}

#nav-bar ul li {
  padding-bottom: calc(0.5rem);
  border-bottom: 2px solid transparent;
}

#nav-bar ul li:hover {
  border-bottom: 2px solid #777;
}

/*============= Hero Start ===========*/

#hero-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  min-height: 83vh;
  padding-top: 80px;

}

.hero-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.time{
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.image-cont {
  width: 400px;
  height: 400px;
}

.image-cont img {
  width: 100%;
  border-radius: 50%;
}

.info-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-cont p {
  color: #555;
}

.info-cont h2 {
  font-size: 3rem;
}

.info-cont h3 {
  font-size: 1.75rem;
  color: #555;
}

.btns-cont {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btns-cont a {
  border: 1px solid #555;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-weight: bold;
}

#cv-btn:hover {
  background-color: #353535;
  color: #FFF;
}

#contact-btn {
  background-color: #353535;
  color: #FFF;
}

#contact-btn:hover {
  background-color: #000;
}

.social-cont {
  display: flex;
  gap: 1rem;
}

.social-cont a i {
  font-size: 32px;
}

.social-cont a svg.fa-linkedin-in {
  color: #fff;
  background-color: #000;
  font-size: 10px;
  border-radius: 50%;
  padding: 10px;
}

/*=============== Start About me Sec ===============*/

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
 min-height: 100vh;
  padding: 0 10rem;
  padding-top: 25px;
}


#about-me .about-body {
  display: flex;
  gap: 4rem;
}



#about-me .about-img-cont {
  width: 400px;
  height: 400px;
}

#about-me .about-img-cont img {
  width: 100%;
  border-radius: 2rem;
}

#about-me .card-container {
  display: flex;
  gap: 2rem;
}

#about-me .card-container .card-box {
  flex: 1;
  border: 1px solid #777;
  border-radius: 2rem;
  text-align: center;
  padding: 1.5rem;
}

#about-me .about-info-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}


#about-me .about-info-cont p {
  color: #353535;
}
/*=====================*/

#experience{
  min-height: 100vh;
  padding:0 10rem ;
  padding-top: 25px;
}

#experience .stacks-cont{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem; 
}

#experience .stacks-cont .stack-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border:1px solid #a3a3a3 ;
  padding: 1.5rem;
  border-radius: 2rem;
  flex: 1;
}

#experience .stacks-cont .stack-card .stack-title{
  font-size: 1.75rem;
  margin-bottom: 2rem;
  color: #555;
}

#experience .stacks-cont .stack-card .tools-cont{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2.5rem;

}

#experience .stacks-cont .stack-card .tools-cont .tool-box{
  width: 160px;
  display: flex;
  gap: 1rem;
}
.tool-box{
  flex-wrap: wrap;
}

.tools-cont .tool-box i {
  font-size: 24px;
}

.tools-cont .tool-box h4{
  font-size: 1.17em;

}

.tools-cont .tool-box p{
  color: #555 ;
}

.imge-cont{
  width: 150px ;
  height: 150px;
}
  

/*  project */

#projects{
 padding-top: 100px; 
 min-height: 100vh;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.cards .card{
  width: 350px;
  padding: 1.5rem;
  border: 1px solid #a3a3a3;
  border-radius: 2rem;
  box-shadow: 5px 10px 5px #777;
}

.cards .card img{
  width: 100%;
  max-height: 140px;
  border-radius: 1.5rem;

}

.cards .card h3{
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1rem;
}

.cards .card p{
  color: #353535 ;
}

.cards .card .btns-cont{
  display: flex;
  justify-content: center;
}

/*   contact me  */

#contact-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 76vh;
  padding-top: 100px;
  padding: 5rem;
}

#contact-me .contact-cont{
  display: flex;
  gap: 2rem;
  border: 1px solid #a3a3a3;
  border-radius: 2rem;
  padding: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
 /*  footer  */

 footer{
  height: 24vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2,5rem;
 }
 #contact-me .contact-cont .contact-item a{
    border-bottom: 2px solid transparent;
 }

 #contact-me .contact-cont .contact-item:hover a{
  color: #555;
  border-bottom: 1px solid #555;
 }
.border-red {
  border: 2px solid red;
}

.border-green {
  border: 2px solid green;
}

.border-blue {
  border: 2px solid blue;
}

